# Fichiers et dossier à ne pas mettre sur git

#Tout fichier .o ou .out
*.o
*.out
*.exe

# Dossier des .o
**/obj

# Dossier des executables
**/bin

#fichier settings vscode
.vscode/settings.json

#fichier test
test.cpp